
body{
    margin:0;
    background-color: #A0B4AA;


}
.navbar{
    background-color: #B5A191;
    margin: 0;
    padding-top:1rem;
    text-align: center;
}
.navbar ul{
    margin:0;
}
.navbar li{
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-right:1.5rem;
}
.intro{
    height:30rem;
    
    background-image: url("https://images.unsplash.com/photo-1626766861391-47ce5d99ee22?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NTAxNTUzMw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
background-position: center;
margin-top: 0 !important;


}
.intro img{
    width:15rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
}
.intro h1{
    text-align: center;
    background-color: #5E4E38;
    color: #A0B4AA;
    padding: 1rem;
    margin-top: 0;
    font-size: 2rem;
}
.slogan{
    padding: 0 1rem;

    margin-top:0;
}
.slogan p{
    font-size: 1.5rem;
    color: black;
}
.slogan h1{
    color: #196A60;
}
.photos img{
    width:30%;
    margin:1.5%;
}
.saying{
    background-color: #5E4E38;
    color:#B9C8CB;
    padding:0 1rem;
    padding-top: 1rem;
    height: 15rem;
    
}
.events img{
    width:30%;
    margin:1.5%;
}
.footer{text-align: center;

}
.footer img{
    width: 50%;
    display: block;
    height: auto;
    margin: auto;
}
.intro,
.slogan,
.photos,
.saying,
.footer{
    margin: 4em auto;
}
@media only screen and (max-width:1048px){
    .events img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .photos img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and(max-width: 640px) {
    .navbar li{
        display: block;
        text-align: center;
        color: #196A60;

    }
    .intro h1{
        margin-top: 2rem;
    }
    .intro{
        max-height: 200px;
    }
}
@media only screen and (max-width:320px){
    .event img{
        width: 100%;
    }
}


